.header {
  height: 32px;
  position: fixed;
  top: 16px;
  left: 16px;
  right: 16px;
  z-index: 100;

  @media (min-width: 768px) {
    top: 32px;
    left: 32px;
    right: 32px;
  }
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
