.header {
  height: 32px;
  position: fixed;
  top: 16px;
  left: 16px;
  right: 16px;

  @media (min-width: 768px) {
    top: 32px;
    left: 32px;
    right: 32px;
  }
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav a {
  font-size: var(--font-size-lg);
  @media (min-width: 768px) {
    font-size: var(--font-size-xl);
  }
}

.header nav a span {
  cursor: pointer;
}

.header nav ul {
  display: flex;
  gap: var(--spacing-md);
  list-style: none;
}

.header nav ul li {
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: var(--font-size-md);
  }
}

.header nav li a {
  font-size: var(--font-size-sm);
}

.moodIcons {
  display: flex;
  gap: var(--spacing-sm);
  margin-right: auto;
  margin-left: var(--spacing-md);
}
