.grid {
  display: grid;
  width: 100%;
  row-gap: var(--spacing-md);
  grid-template-columns: 1fr;
}

.gutter20 {
  column-gap: var(--spacing-md);
}

.gutter60 {
  column-gap: 60px;
}

.gridItem {
  min-width: 0;
  grid-column: var(--mobile-column);
  grid-row: var(--mobile-row);
}

@media (min-width: 768px) {
  .columns3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .columns4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .columns6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .gridItem {
    grid-column: var(--desktop-column);
    grid-row: var(--desktop-row);
  }
}

@media (min-width: 1024px) {
  .grid {
    row-gap: var(--spacing-xl);
  }

  .gutter20 {
    column-gap: var(--spacing-lg);
  }
}
