.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--background-colour);
  padding: var(--spacing-md) var(--spacing-xl);
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
  transform: translateY(0);
}

.header.overlayOpen {
  background: var(--overlay-background-colour);
  color: var(--text-colour-muted);
}

.hidden {
  transform: translateY(-100%);
}

.scrolled {
  border-bottom: 1px solid var(--border-colour);
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  opacity: 0;
}

.desktopNav {
  display: block;
}

.mobileNav {
  display: none;
}

.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  background: var(--overlay-background-colour);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  padding: 0px var(--spacing-xl);
  transition: opacity 0.3s ease-in-out;
}

.navList {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  color: var(--text-colour-muted);
  padding-top: 200px;
  gap: var(--spacing-md);
  list-style: none;
}

@media (max-width: 768px) {
  /* .desktopNav {
    display: none;
  }

  .mobileNav {
    display: block;
  } */
}
