.wrapper {
  height: fit-content;
  background: white;
  padding: var(--polaroid-padding-mobile);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  padding: 15px 15px 0px 15px;
}

.landscape {
  aspect-ratio: 4/3;
  width: min(100%, 300px);
}

.portrait {
  aspect-ratio: 3/4;
  width: min(100%, 225px);
}

.landscape img,
.portrait img {
  width: 100%;
  height: fit-content;
  object-fit: cover;

  @media (min-width: 768px) {
    max-height: calc(100vh - 220px - 200px);
  }
}
