.wrapper {
  height: fit-content;
  width: fit-content;
  background: white;
  padding: var(--polaroid-padding-mobile);
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    padding: 40px 40px 80px 40px;
  }
}

.image {
  width: 100%;
  height: fit-content;
  object-fit: contain;
}

.landscape img {
  aspect-ratio: var(--ratio-landscape);

  @media (min-width: 768px) {
    width: min(100%, var(--image-width-landscape));
    max-height: calc(100vh - var(--polaroid-margin-top) - 200px);
  }
}

.portrait img {
  aspect-ratio: var(--ratio-portrait);

  @media (min-width: 768px) {
    width: min(100%, var(--image-width-portrait));
  }
}

.landscape img,
.portrait img {
  width: 100%;
  height: fit-content;

  @media (min-width: 768px) {
    /* max-height: 700px; */
  }
}

.caption {
  margin-top: 20px;
  text-align: center;
}
