.navList {
  display: flex;
  gap: var(--spacing-md);
  list-style: none;
}

.navItem {
  cursor: pointer;
  @media (min-width: 768px) {
    font-size: var(--font-size-md);
  }
}

.navItem a {
  font-size: var(--font-size-md);
}

.active {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--current-mood-colour);
  text-underline-offset: 4px;
}
