.container {
  grid-template-areas: "image" "content";
  padding-top: 120px;

  @media (min-width: 768px) {
    height: 100%;
    grid-template-areas: "image image image content content content";
    padding-top: 0px;
  }
}

.images {
  grid-area: image;
  height: 100%;

  /* Mobile styles (horizontal scroll) */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;

  /* Hide scrollbars */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* Desktop styles (vertical scroll) */
  @media (min-width: 768px) {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: normal;
    scroll-snap-type: y mandatory;
  }
}

.image {
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  scroll-snap-align: center;

  @media (min-width: 768px) {
    display: flex;
    width: 100%;
  }
}

.polaroidWrapper {
  height: fit-content;
  background: white;
  padding: 20px 20px 40px 20px;
  margin: 0 24px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;

  @media (min-width: 768px) {
    margin-top: 220px;
  }

  @media (min-width: 1024px) {
    padding: 40px 40px 80px 40px;
  }
}

.landscape img {
  aspect-ratio: 4/3;
  width: min(100%, 1200px);
}

.landscape img,
.portrait img {
  width: 100%;
}

.portrait img {
  aspect-ratio: 3/4;
  width: min(100%, 800px);
}

.image img {
  width: 100%;
  height: fit-content;
  max-height: calc(100vh - 120px - 100px);
  object-fit: cover;

  @media (min-width: 768px) {
    max-height: calc(100vh - 220px - 200px);
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  grid-area: content;

  @media (min-width: 768px) {
    margin-top: 220px;
  }
}

.headerContainer {
  display: grid;
  grid-template-areas:
    "header header"
    "time mood";
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  row-gap: var(--spacing-sm);
  column-gap: var(--spacing-md);
  height: fit-content;
  width: fit-content;
  align-items: center;
}

.header {
  grid-area: header;
  font-size: var(--font-size-xl);
  font-weight: 300;
}

.time {
  grid-area: time;
  font-size: var(--font-size-sm);
  color: var(--text-colour-muted);
}

.mood {
  grid-area: mood;
}
