.container {
  min-height: 100vh;
}

.meta {
  position: sticky;
  top: 60px;
  height: fit-content;
}

.image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.polaroidImage {
}

.multiImage {
}
