.container {
  grid-template-areas: "image" "content";
  padding-top: 120px;

  @media (min-width: 768px) {
    height: 100%;
    grid-template-areas: "image image image content content content";
    padding-top: 0px;
  }
}

.images {
  grid-area: image;
  height: 100%;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 20px 0px;
  display: flex;

  /* Mobile styles (horizontal scroll) */
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  /* Desktop styles (vertical scroll) */
  @media (min-width: 768px) {
    display: block;
    padding: 0px;
    width: 100%;
    margin-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: normal;
    scroll-snap-type: y proximity;
    scroll-padding: 0;
  }
}

.image {
  display: inline-flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 16px;

  &:not(:last-child) {
    justify-content: flex-start;
  }

  &:last-child {
    padding-right: 20px;
  }

  &:first-child {
    padding-left: 20px;
  }

  scroll-snap-align: start;

  @media (min-width: 768px) {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 0;

    &:not(:last-child) {
      padding-left: 0px;
      justify-content: center;
    }

    &:last-child {
      padding-right: 0px;
    }

    &:first-child {
      padding-left: 0px;
    }
  }
}

.polaroidWrapper {
  height: fit-content;
  background: white;
  padding: 20px 20px 40px 20px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;

  @media (min-width: 768px) {
    margin: 220px 24px 0px 24px;
  }

  @media (min-width: 1024px) {
    padding: 40px 40px 80px 40px;
  }
}

.multiImage {
  width: calc(100vw - 70px);

  @media (min-width: 768px) {
    width: unset;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  grid-area: content;

  @media (min-width: 768px) {
    margin-top: 220px;
  }
}

.headerContainer {
  display: grid;
  grid-template-areas:
    "header header"
    "time mood";
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  row-gap: var(--spacing-sm);
  column-gap: var(--spacing-md);
  height: fit-content;
  width: fit-content;
  align-items: center;
}

.header {
  grid-area: header;
  font-size: var(--font-size-xl);
  font-weight: 300;
}

.time {
  grid-area: time;
  font-size: var(--font-size-sm);
  color: var(--text-colour-muted);
}

.mood {
  grid-area: mood;
}
