.catalogueTable {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 1;

  @media (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.imagePreviewContainer {
  grid-column-start: 3;
  grid-column-end: 4;
  opacity: 0;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.imagePreviewContainer img {
  width: 100%;
  height: 100%;
}
