.postHeader {
  font-weight: var(--font-weight-regular);
  display: grid;
  width: 100%;
  grid-template-areas: "header mood" "date date";
  gap: var(--spacing-sm);
  align-self: flex-start;
}

.postHeader h2 {
  grid-area: header;
  font-weight: inherit;
  font-size: inherit;
  font-size: 16px;
}

.moodIndicator {
  grid-area: mood;
  height: 12px;
  width: 12px;
  border-radius: 999px;
  margin: auto 0px auto auto;

  @media (min-width: 768px) {
    height: 16px;
    width: 16px;
  }
}

.postHeader time {
  grid-area: date;
  color: var(--text-colour-muted);
  font-size: 12px;
}
