.table {
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-space-grotesk);
  display: flex;
  flex-direction: column;
}

.header {
  text-align: left;
  padding: 0.5rem 1rem;
  font-weight: 400;
  color: var(--color-text);
}

.table td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color-border);
}

.table thead th {
  color: var(--text-colour-muted);
}

.table thead {
  border-bottom: 1px solid var(--text-colour-muted);
  margin-bottom: 8px;
}

.table thead tr,
.table tbody tr {
  display: grid;
  gap: 24px;
  margin-bottom: 8px;
  grid-template-columns: 1fr auto;
}

.table thead th,
.table tbody td {
  padding: 0;
}

.table tbody td:not(:first-child) {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mood {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.tableRow {
  cursor: pointer;
}
