.grid {
  display: grid;
  width: 100%;
  row-gap: var(--spacing-xl);
}

.columns4 {
  grid-template-columns: repeat(4, 1fr);
}

.columns6 {
  grid-template-columns: repeat(6, 1fr);
}

.gutter20 {
  column-gap: var(--spacing-lg);
}

.gutter60 {
  column-gap: 60px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
