.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  gap: var(--spacing-lg);
  grid-column: span 1;
  padding: 0px;
  width: 100%;
  margin: 0px auto;

  @media (min-width: 768px) {
  }
}

.post a {
  margin-bottom: auto;
}

.imageStack {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  width: min(100%, 300px);
}

.polaroidWrapper {
  position: absolute;
  inset: 0;
  background: white;
  padding: 15px 15px 0px 15px;
  box-shadow: 0px 4px 20px rgba(34, 34, 34, 0.25);
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.polaroidWrapper:first-child {
  position: relative;
  z-index: 1;
}

.landscape {
  aspect-ratio: 4/3;
  width: min(100%, 300px);
}

.landscape img,
.portrait img {
  width: 100%;
}

.portrait {
  aspect-ratio: 3/4;
  width: min(100%, 225px);
}

.image {
  object-fit: cover;
  display: block;
}

.caption {
  display: grid;
  grid-template-areas: "header mood" "date .";
  grid-template-columns: 1fr auto;
  padding: 8px 0px;
  gap: 4px;
  align-items: flex-start;
}

.caption h2 {
  grid-area: header;
  font-size: 16px;
  color: var(--text-colour);
}

.mood {
  grid-area: mood;
  width: fit-content;
}

.date {
  grid-area: date;
  color: var(--text-colour-muted);
  font-size: 12px;
}

.polaroidWrapper:nth-child(2) {
  z-index: 2;
  transform: rotate(-4deg);
}

.polaroidWrapper:nth-child(3) {
  z-index: 2;
  transform: rotate(4deg);
}

.imageStack:hover .polaroidWrapper:nth-child(2) {
  transform: rotate(-8deg);
}

.imageStack:hover .polaroidWrapper:nth-child(3) {
  transform: rotate(8deg);
}
