.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-lg);
  grid-column: span 1;
  padding: 0px;
  width: 100%;
  margin: 0px auto;
}

.post a {
  margin-bottom: auto;
}

.imageStack {
  width: 100%;
  max-width: 300px;
  display: grid;
  place-items: center;
}

.polaroidWrapper {
  margin: auto;
  margin-top: 0;
  transition: transform 0.3s ease;
  grid-column: 1;
  grid-row: 1;
}

.polaroidWrapper:first-child {
  z-index: 1;
}

.caption {
  display: grid;
  grid-template-areas: "header mood" "date .";
  grid-template-columns: 1fr auto;
  padding: 8px 0px;
  gap: 4px;
  align-items: flex-start;
}

.caption h2 {
  grid-area: header;
  font-size: 16px;
  color: var(--text-colour);
}

.mood {
  grid-area: mood;
  width: fit-content;
}

.date {
  grid-area: date;
  color: var(--text-colour-muted);
  font-size: 12px;
}

.polaroidWrapper:not(:last-child):nth-child(even) {
  --rotation: -4deg;
  transform: rotate(var(--rotation));
}

.polaroidWrapper:not(:last-child):nth-child(odd) {
  --rotation: 4deg;
  transform: rotate(var(--rotation));
}

.imageStack:hover .polaroidWrapper:not(:last-child) {
  transform: rotate(calc(var(--rotation) * 2));
}

.polaroidWrapper:last-child {
  z-index: 3;
  --rotation: 0deg;
  transform: rotate(0deg);
}
