.table {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-md);
}

.header {
  color: var(--text-colour-muted);
  border-bottom: 1px solid var(--text-colour-muted);
}

.header tr {
  display: flex;
  margin-bottom: 8px;
}

.body {
  display: flex;
  flex-direction: column;
}

.rowGroup {
  display: flex;
  gap: 0.5rem;
  margin-top: 8px;
}

.rowGroup > td {
  width: 50%;
}

.rowGroup > td:last-child {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.headerCell {
  font-weight: 400;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-border);
}

.contentList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contentRow {
  cursor: pointer;
}
